.kartes{
    position: relative;
    z-index: -1;
}

.znaks{
    position: relative;
}

.zakaz{
    padding: 10px 0;
}

.znaks .znak{
    max-width: 884px;
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 auto;
    padding: 0 10px;
}

.iconbek{
    font-size: 18px;
    background: #FFF;
    border-radius: 50%;
}

.border{
    width: 100%;
    height: 0.5px;
    background: black;
}

.top{
    margin: 10px 0;
}
.btnGrey:hover{
    background: #dcd6d6;
}

.actives .active .car img{
    max-width: 50px;
    width: 100%;
    height: 30px;
    background: gray;
}

.input{
    width: 100%;
    height: 30px;
}

.koment{
    padding: 10px 0 0;
}

input{
    border-bottom: 0.3px solid;
    width: 100%;
}





.modalon-show {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
}

.modalon-content {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    min-height: 130px;
    padding: 1px;
    border-radius: 10px;
    background-color: white;
}
  
@keyframes slide {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes modal-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
   }


  .modalon{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: modal-show 0.5s 1 forwards;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .modalon_hide{
    position: absolute;
    top: 155px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    -webkit-appearance: none;
    font-size: 18px;
    padding-top: 10px;
    font-weight: 400;
    color: blue;
  }

.modalon-content .menu .text{
    width: 350px;
}

.blue{
    color: blue;
}

  #lider{
    padding-bottom: 65px;
  }

.zakazat{
    width: 100%;
    height: 70px;
    background: #fff;
    box-shadow: 0px 0px 1px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 400px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.zakazat .between{
    padding: 7px 0;
}

.zakazat .between img{
    max-width: 30px;
    width: 100%;
}

.zakazat .between .btn_yellow{
    max-width: 250px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #fffb3b;
}


