#map {
    width: 100%;
    height: 1000px;
}

.saves{
    width: 100%;
}

.menu{
    padding: 0 12px;
}

.saves .cardes{
    margin: 20px 0;
}

.saves .cardes .flex img{
    max-width: 60px;
    width: 100%;
}

.end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.saves .between .save_img{
    border-radius: 5px;
    background: white;
}

.saves .between .save_img img{
    max-width: 50px;
    width: 100%;
}

.top{
    margin-top: 100px;
}

.cord{
    width: 100%;
    margin: 10px 0;
    min-height: 90px;
    background: #e2e2e2;
    border-radius: 10px;
}

.pTop{
    padding-top: 20px;
}


.saves .loves{
    margin: 10px 0;
    width: 100%;
    padding: 14px;
    background: #8cc1d2;
    border-radius: 10px;
}

.love_img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.love_img img{
    max-width: 120px;
    width: 100%;
}

.Go{
    min-height: 200px;
}

.saves .love_yellow{
    background: #fffb3b;
    width: 100%;
    padding: 14px;
    border-radius: 10px;
}

.taksi{
    position: relative;
}

.menus{
    width: 100%;
    position: absolute;
    bottom: 1189px;
    left: 0;
}

.menus .border_one{
    max-width: 30px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 20px;
}
.menus .border_two{
    max-width: 30px;
    width: 100%;
    height: 3px;
    background: black;
    margin-top: 4px;
    border-radius: 20px;
}

.menus .border{
    max-width: 30px;
    width: 100%;
    height: 3px;
    background: black;
    margin-top:4px;
    border-radius: 20px;
}

.ex{
    margin-top: 17px;
}

.dabavit{
    width: 100%;
    height: 50px;
    background: #fffb3b;
    padding: 17px;
}

.topes{
    margin: 15px 0;
}
  
.go_out{
    padding-top: 400px;
}

.btnsbek-all{
   padding: 20px;
}

.btnsbek-all .btn_yellow{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    left: 0;
    width: 91%;
    height: 40px;
    margin-left: 15px;
    padding: 0 20px;
    border-radius: 10px;
    background: #fffb3b;
}

.menu_btns{
    padding: 17px;
}

.menu_btn{
    padding: 0 17px;
}

.menu_btns .between img{
    max-width: 50px;
    height: 28px;
    width: 100%;
}

.menu_btn .between img{
    max-width: 50px;
    height: 20px;
    width: 100%;
}

.menu_btn .between .error{
    max-width: 23px;
    height: 20px;
}
  
.modal:target {
    display: flex;
}

.icon{
    font-size: 20px;
  }

#profile{
    width: 100%;
    height: 50px;
    grid-gap: 100px;
    background: white;
    /* padding: 0 10px; */
}

.profile_text{
    padding: 20px 0;
}

.plus{
    border-radius: 60px;
}

.between .topes{
    gap: 10px;
}

.between .topes img{
    max-width: 30px;
    width: 100%;
}

.between .topes .bor_radius{
    max-width: 30px;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    background: #e2e2e2;
}

.height{
    height: 550px;
}

.too{
    margin-top: 10px;
}

.tema{
    padding: 6px 0;
}

.ptop{
    padding-top: 10px;
}

.modal .modal-content .menu_btns .topes{
    margin: 5px 0;
}

.border{
    width: 100%;
    height: 0.3px;
    background: gray;
}

.gm-style .place-card-large {
    padding: 9px 4px 9px 11px;
    display: none !important;
}
.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card {
    cursor: default;
    display: none !important;
}


.modal-content {
    width: 83%;
    height: 100%;
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slide 0.7s;
    overflow-x: auto;
    white-space: nowrap;
}


  
@keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-hide {
    position: absolute;
    top: 10px;
    left: 270px;
    width: 60px;
    height: 60px;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 28px;
    text-align: center;
    color: black;
}

.fixed{
    position: fixed;
    
}

