
.modalno {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    animation: modal-show 0.5s 1 forwards;
  }
  
  .modal-contentno {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: white;
  }
  
  .modalno:target {
    display: flex;
  }
  
  .modal-showno {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
  }
  
  .modal-hideno {
    position: absolute;
    top: 21px;
    left: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    -webkit-appearance: none;
    background-color: transparent;
    font-size: 20px;
    text-align: center;
  }
  

  @keyframes slide {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  input{
    padding: 0;
}

.new_map{

}